* {
    white-space: nowrap;
    transition-property: color, border, background-color, padding, transform, margin, opacity, height, text-decoration-color, width, font-weight, font-size;
    transition-duration: 0.35s;
}

:hover,
:focus {
    transition-property: color, border, background-color, padding, transform, margin, opacity, height, text-decoration-color, width, font-size, font-weight;
    transition-duration: 0.25s;
}

.landing-menu-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.landing-menu,
.landing-menu ul {
    width: 100vw;
    height: 100vh;
}

.landing-menu-card {
    width: 50%;
    height: 100%;
    display: inline-block;
    position: relative;
}

.landing-menu-card a {
    height: 100%;
    display: block;
    margin: 0;
    padding: 0;
}


body,
header,
nav,
ul,
li {
    padding: 0;
    margin: 0;
    max-width: 100vw;
}

.landing-menu ul {
    display: inline-block;
    font-size: 0;
}

.landing-menu-card h2 {
    position: absolute;
    margin: auto !important;
    width: fit-content;
    height: fit-content;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 4rem;
    color: var(--c-invis);
    -webkit-text-stroke: 0.0625rem var(--c-bg-light);
}

.landing-menu-card a:hover h2,
.landing-menu-card a:focus h2 {
    font-size: 5rem;
    color: var(--c-bg-light);
    -webkit-text-stroke: 0.125rem var(--c-invis);
}

.landing-menu-card:has(a:hover),
.landing-menu-card:has(a:focus) {
    width: 52.5%;
}

.landing-menu:has(a:hover, a:focus) .landing-menu-card:not(:has(a:hover, a:focus)) {
    width: 47.5%;
}



/* SUBMENU - MAX NIELSEN AND LETS CONNECT */
.landing-submenu-wrapper {
    padding: 1rem 2rem 3rem 2rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    background: linear-gradient(180deg, rgba(0,0,0, 0.3) 0%, rgba(0,0,0,0) 100%);
}

.landing-submenu-wrapper::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    background: linear-gradient(180deg, rgba(0,0,0, 0.3) 0%, rgba(0,0,0,0) 100%);
    transition-duration: 0.2s;
}

.landing-submenu-wrapper:hover::after, .landing-submenu-wrapper:has(a:focus)::after {
    opacity: 1;
    transition-duration: 0.35s;
}

.landing-submenu {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1.25rem;
    border-top: 2px solid var(--c-bg-light);
}

.landing-submenu a {
    color: var(--c-bg-light);
    text-decoration: underline;
    text-decoration-color: var(--c-bg-light);
}

.landing-submenu a:hover, .landing-submenu a:focus {
    /* color: var(--c-link); */
    /* font-weight: 500; */
    text-decoration-color: var(--c-bg-light) !important;
}

.landing-submenu h1 {
    font-size: 2rem;
    font-weight: 200;
    color: var(--c-bg-light);
}

/* .landing-title img:hover, .landing-title img:focus {
    content: url("../img/icon/info-hovered.svg");
} */

.landing-title {
    text-wrap: nowrap;
}

.landing-title:hover h1, .landing-title:focus h1 {
    font-weight: 500;
}

.landing-submenu a:hover, .landing-submenu a:focus {
    text-decoration: underline;
    text-decoration-color: var(--c-link);
    text-decoration-thickness: .0625rem;
}

.landing-submenu img {
    height: 1.75rem;
    width: auto;
    opacity: 0;
    margin-left: -1rem;
}

/* .landing-submenu-wrapper:hover p, .landing-submenu:has(a:hover, a:focus) p {
    margin-left: 0;
    opacity: 1;
} */

.landing-submenu p {
    /* opacity: 0;
    margin-left: -1rem; */
    margin-bottom: 0;
    width: 20rem;
    text-wrap: balance;
    color: var(--c-bg-light );
    margin-top: 0.25rem;
}

@media screen and (max-width: 75rem) {
    .landing-menu-card {
        width: 100%;
        height: 50%;
        display: block;
    }

    .landing-menu-card:has(a:hover),
    .landing-menu-card:has(a:focus) {
        width: 100%;
        height: 55%;
    }

    .landing-menu:has(a:hover, a:focus) .landing-menu-card:not(:has(a:hover, a:focus)) {
        width: 100%;
        height: 45%;
    }

    * {
        white-space: initial;
    }
}

@media screen and (max-height: 20rem) {
    .landing-menu-card h2 {
        width: fit-content !important;
    }

    .landing-menu-card h2 {
        font-size: 3rem;
        /* top: auto;
        bottom: 0; */
    }

    .landing-menu-card a:hover h2,
    .landing-menu-card a:focus h2 {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 50rem) {
    .landing-menu-card h2 {
        width: min-content;
        margin-left: 0 !important;
        margin-bottom: 0 !important;
        hyphens: none;
    }

    .landing-submenu-wrapper {
        padding: 1rem;
    }

    
}

@media screen and (max-width: 50rem) and (max-height: 20rem) {
    .landing-menu-card h2 {
        top: 0;
        bottom: 0;
    }
}

@media screen and (max-width: 31.25rem) {
    .landing-menu-card h2 {
        font-size: 3rem;
    }

    .landing-menu-card a:hover h2,
    .landing-menu-card a:focus h2 {
        font-size: 3.5rem;
    }

    
}

@media screen and (max-height: 31.25rem) {
    .landing-submenu-wrapper {
        position: relative;
        background: var(--c-bg-light);
    }

    .landing-submenu p, .landing-submenu h1, .landing-submenu a {
        color: var(--c-bg-dark);
        text-decoration-color: var(--c-bg-dark);
    }

    .landing-submenu {
        border-top: none;
    }

    .landing-submenu-wrapper::after {
        background: none;
    }

    header {
        display: block;
    }
}

@media screen and (max-width: 31.25rem) and (max-height: 20rem) {
    .landing-menu-card h2 {
        font-size: 2rem;
        bottom: 0;
    }

    .landing-menu-card a:hover h2,
    .landing-menu-card a:focus h2 {
        font-size: 2.25rem;
    }
}

@media screen and (max-width: 27rem) {
    .landing-title {
        text-wrap: unset;
    }
}

@media screen and (max-width: 21.875rem) {
    .landing-menu-card h2 {
        font-size: 2rem;
    }

    .landing-menu-card a:hover h2,
    .landing-menu-card a:focus h2 {
        font-size: 2.25rem;
    }
}

@media screen and (max-width: 14.375rem) {
    .landing-menu-card h2 {
        hyphens: manual;
    }
}